*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
}

/* LEFT */

.left{
    width:50%;
    background:#58AFC4;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:20px;
}

/* RIGHT */

.right{
    width:50%;
    background:#eaeaea;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

/* FORM BOX */

.register-box{
    background:#f4f4f4;
    padding:20px;
    border-radius:10px;
    width:220px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    text-align:center;
}

.register-box h4{
    margin-bottom:10px;
}

.register-box input{
    width:100%;
    padding:8px;
    margin:5px 0;
    border:none;
    border-radius:5px;
    background:#ddd;
}

/* BUTTON */

.btn-register{
    margin-top:20px;
    width:200px;
    padding:10px;
    border:none;
    border-radius:20px;
    background:#d9d9d9;
    font-size:16px;
    cursor:pointer;
}